*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

body{
  background-color: $body;
}

a{
    list-style: none;
    text-decoration: none;
}

button{
    background: none;
    border: none;
    outline: none;
}

.text-center{
  @include text-center;
}

.scanner-container{
  display: block;
  width: 90%;
  margin: 20px auto 0 auto;
}
.text-gray{
  color: $gray;
}
.font-bold{
  font-weight: 500;
}