.products__container{
    background: $white;
    border-radius: 5px;
    width: 90%;
    margin: 30px auto;

    .products__container__items{
        border-bottom: 1px solid $gray;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        &:last-child{
            border-bottom: none;
        }

        .products__container__items__description{

        }
    }
    
}